*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*layout classes*/
body{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

main{
    position: fixed;
    left: 0;
    right: 0; 
}

footer{
    position: fixed;
    left: 0;
    right: 0; 
    bottom: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

/* text */

.text-center {
    text-align: center;
  }
  
.text-left {
    text-align: left;
  }
  
.text-right{
    text-align: right;
  }
  

/*py*/

.py-5{
    padding: 5px 0;
}
.py-10{
    padding: 10px 0;
}
.py-15{
    padding: 15px 0;
}
.py-20{
    padding: 20px 0;
}
.py-25{
    padding: 25px 0;
}
.py-30{
    padding: 30px 0;
}
.py-60{
    padding: 60px 0;
}


/*px*/

.px-5{
    padding: 0 5px
}
.px-10{
    padding: 0 10px;
}
.px-15{
    padding: 0 15px ;
}
.px-20{
    padding: 0 20px ;
}
.px-25{
    padding: 0 25px ;
}
.px-30{
    padding: 0 30px ;
}


/*combined class*/

.pxy-40-0{
    padding: 40px 0;
}

/*bg-color*/
.bg-black{
    background-color: black;
}
.bg-red{
    background-color: red;
    border: 1px solid black;
}

.bg-grey{
    background-color: grey;
}
.bg-dark-grey{
    background-color: rgb(41, 41, 41);
}


/*col*/
.col-25{
    width: calc(100% / 4);
}

.col-50{
    width: calc(100% / 2);
}

.col-33{
    width: calc(100% / 7 - 10px);
    background-image:  url("https://st4.depositphotos.com/20498488/28410/i/450/depositphotos_284102922-stock-photo-snowcapped-summits-central-andes-mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    height: 100px;

    /*border: 1px solid white;; */
} 

.col-100{
    width: 100%;
}
